##
## This template generates the load script for the table. We can just use the 
##
## The variables below helps you test the template 
## #set ($tablename = "dynamic_basket")
## #set ($cols_isKey = {"EVENT_ID":true, "BASKET_ID":true, "INSTANCE":true, "IMPACTED_AMOUNT":false, "EXPIRATION_DATE":false, "REMAINING_AMOUNT":false, "OFFER_CODE":false, "CALL_START":false})

#parse("macros.vm")

--\set load_date '\'' 2015-05-20 '\''
--\set batch_id 1

\echo Loading ${tablename}...
--
-- Insert differences - using delta query above
--
INSERT INTO ${tablename}_AO (#@colsList( "#listCols($cols_keys ',')" )#end, deleted, non_key_hash, load_date, batch_id) 
SELECT #@colsList( "#listCols($cols_keys ',')" )#end, deleted, non_key_hash, load_date, batch_id 
FROM (  
       SELECT #@mergeKeys($cols_isKey)#end
              #foreach ($col in $cols_isKey.keySet())#if(!${cols_isKey.get($col)})b.${col},#end#end
              (md5 is NULL) as deleted, 
              coalesce(md5, non_key_hash) as non_key_hash,
              (non_key_hash not similar to md5) as changed, 
              (non_key_hash is null) as inserted, 
              date :load_date as load_date, 
              :batch_id as batch_id  
       FROM ${tablename}_view a 
       FULL OUTER JOIN (
                         SELECT #@colsList( "#listCols($cols_keys ',')" )#end,
                                md5((#@NonKeyColsList( "#listCols($cols_keys '||')" )#end)::text) as md5
                         FROM ${tablename}_ext
                       ) b 
       ON (#@keyColsList( "#joinKeys($cols_keys)" )#end)
     ) 
AS changes
WHERE deleted or inserted or changed;

